table {
  border-collapse: collapse;
  font-family: Verdana, sans-serif;
  text-align: center;
  border: 2px solid black;
}

table td:first-child {
  width: 50px;
}

table td:not(:first-child) {
  width: 100px;
  border-bottom: 1px solid white;
}

table td:hover {
  background-color: #cab3b3;
  color: black;
}

table tbody tr:nth-child(odd) {
  background-color: #8400e9;
  color: white;
}

table tbody tr:nth-child(even) {
  background-color: #eb8807;
  color: white;
}